date-picker {
    font-family: sans-serif;
}

date-picker::part(date-toggle) {
    padding: 8px 15px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #1e4cd7;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}

date-picker::part(calendar-dropdown) {
    width: 300px;
    height: 300px;
    top: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

date-picker::part(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 30px;
}

date-picker::part(header-div) {
    color: #000;
}

date-picker::part(header-text) {
    margin: 0;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: bold;
}

date-picker::part(month-navigator) {
    padding: 0;
    border: 8px solid transparent;
    width: 0;
    height: 0;
    border-radius: 2px;
    border-top-color: #000;
    transform: rotate(90deg);
    cursor: pointer;
    background: none;
    position: relative;
}

date-picker::part(month-navigator):after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

date-picker::part(month-navigator-next) {
    transform: rotate(-90deg);
}

date-picker::part(week-day) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-transform: capitalize;
}

date-picker::part(week-days) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
}

date-picker::part(month-days) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

date-picker::part(month-day) {
    padding: 8px 5px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

date-picker::part(month-day):hover {
    background: #f0f0f0;
}

/*
date-picker::part(month-day-current) {
}
*/

date-picker::part(month-day-noncurrent) {
    background: #e3e3e3;
}

date-picker::part(month-day-noncurrent):hover {
    color: #fff;
    background: #adadad;
}

date-picker::part(month-day-current-selected) {
    color: #fff;
    background: #1e4cd7;
}

date-picker::part(month-day-current-selected):hover {
    color: #fff;
    background: #34bd61;
}

date-picker::part(month-day-noncurrent-selected) {
    color: #fff;
    background: #899edd;
}

date-picker::part(month-day-noncurrent-selected):hover {
    color: #fff;
    background: #8bbb9b;
}

date-picker::part(month-day-disabled) {
    color: #000;
    background: #d1d1d1;
}

date-picker::part(month-day-disabled):hover {
    color: #000;
    background: #d1d1d1;
}